@keyframes roulade{
    100%{
        margin: 21px 0;
    }
    
    50%{
        margin-top: 200px;
    }

    0%{
        margin: 0 0 0 50%;
    }
}

h1{
    animation: roulade 1s ;
}

html{
    background-color: #6441a5;
}

a{
    text-decoration: none;
    color :#333;
}

a:hover{
    color:black;
}